 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f4f6f9;
  color: #333;
  padding: 20px;
}

/* ======= HEADER ======= */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
  margin-bottom: 25px;
}

header h1 {
  color: #ff7043;
}

nav a {
  text-decoration: none;
  margin-left: 15px;
  font-weight: bold;
  color: #555;
}

nav a:hover {
  color: #ff7043;
}

h1{
  text-align: center;
  padding: 10px 0 10px 0;
}


/* ======= BOTÕES ======= */
button {
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #ff7043;
  color: #fff;
  font-size: 14px;
  transition: 0.3s;
}

button:hover {
  background: #e35e33;
}

/* ======= FORMULÁRIOS ======= */
form {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  margin: auto;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

form input, form select, form textarea {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

form textarea {
  height: 100px;
}

/* ======= CARDS DE PUBLICAÇÃO ======= */
#lista_publicacoes,
#lista_minhas_publicacoes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  max-width: 520px;
  width: 100%; 
  margin: 0 auto;
  background: #ffffff;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.card h4 {
  margin: 10px 0;
  color: #ff7043;
}

.card p {
  margin: 4px 0;
}

.card button {
  margin-top: 10px;
  width: 48%;
}

.card a button {
  width: 100%;
}

/* ======= CONTAINER ======= */
.container {
  max-width: 500px;
  margin: auto;
}
